html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*User defined styles*/
.app-banner {
    background-color: #2f343a;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 50px 0;
    margin-bottom: 20px;
}

.table-horizontal-only thead th {
    border-top: 1px solid #dee2e6;
}

.table-horizontal-outline {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

.table-horizontal-outline th,
.table-horizontal-outline td {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 1px solid #dee2e6;
}

.table-horizontal-outline thead th {
    border-top: 1px solid #dee2e6 !important;
}

.detail-table th {
    width: 400px;
    white-space: nowrap;
}

.btn-primary {
    background-color: #2f343a;
    border-color: #2f343a;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #23272b;
    border-color: #23272b;
}

.btn-primary:active {
    background-color: #1d2124;
    border-color: #1d2124;
}

a {
    text-decoration: none;
}

.table th,
.table td {
    padding: 20px 12px;
}

.NewContact {
    display: inline-block;
    margin-bottom: 20px;
}